[mysqld]

server-id = 100
relay-log = /var/log/mysql/mysql-relay-bin.log
log_bin = /var/log/mysql/mysql-bin.log
log-slave-updates = ON
binlog_format = MIXED
gtid_mode = ON
enforce_gtid_consistency = ON
master_info_repository = TABLE
